.team-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.team-item {
  width: 15%;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.team-image {
  width: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .team-item {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .team-item {
    width: 45%;
  }
}

@media screen and (max-width: 350px) {
  .team-item {
    width: 80%;
  }
}
